// ----------------------------------------------------------------------------
// - Helper Classes
// ----------------------------------------------------------------------------

// Hide visually and from screen readers
.is-hidden {
	display: none;
}

/*
::-moz-selection {
	text-shadow: none;
	background-color: $cyan;
}

::selection {
	text-shadow: none;
	background-color: $cyan;
}
*/
