// ----------------------------------------------------------------------
// - Columns
// ----------------------------------------------------------------------

.column-group {
	padding-top: 60px;

	.column {
		float: left;
		position: relative;

		@include tablet-min {
			float: left;
		}
	}

	.column-symbol { height: 88px; }
}


// ----------------------------------------------------------------------
// - Content Column
// ----------------------------------------------------------------------

.content-column {

	&__left { 
	  padding-left: 64px;
	  
	  @include mobile {
		  padding-left: 0;
		}
	}
	&__right { 
	  padding-left: 64px;
	  @include mobile {
		  padding-left: 0;
		}
	}

	@include desktop {
		width: 460px;
		position: absolute;
		top: 0;

		&__left { left: 0; }
		&__right { right: 0; }
	}

	.icon {
		width: 52px;
		height: 52px;
		display: block;
		position: absolute;
		top: -7px;
		left: -70px;
		background-size: 52px 52px;

		&__grey { background-image: url(../images/icon-10x-grey.png); }
		&__blue { background-image: url(../images/icon-10x-blue.png); }
		
		@include mobile {
		  display: none;
		}
	}

	// h2 {
	// 	margin-bottom: 11px;
	// }

	// h3 {
	// 	margin-bottom: 18px;
	// 	position: relative;
	// }
}

// ----------------------------------------------------------------------
// - Content Panel
// ----------------------------------------------------------------------

.content-panel {
	position: relative;

	@include tablet-max {
		margin: 0 auto;
		width: 85%;

		img { width: 100%; }
	}

	img { display: block; }
}