// ----------------------------------------------------------------------
// - Mobile Nav
// ----------------------------------------------------------------------

.menu {

	@include mobile {
		padding: 130px 29px 0 29px;
		width: 100%;
		height: 100%;
		display: none;
		overflow-y: auto;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		background-color: $color--grey-dark;

		&.is-open {
			display: block;
		}

		a {
			color: $color--blue-dark;
			font-size: 36px;
			font-weight: 300;
		}

		.nav-link {
			margin-bottom: 8px;
		}

		.nav-link__support {
			margin-bottom: 38px;
		}

		.button-link {
			margin-bottom: 10px;

			a {
				color: white;
				font-size: 30px;
			}
		}

		.social-nav {
			padding-top: 40px;
			display: block;

			a {
				margin-right: 50px;
				display: block;
				float: left;

				&:last-child { margin: 0; }
			}

			.shape {
				fill: $color--grey-mid;
			}
		}
	}
}

body.menu-open {
  overflow: hidden;
}
