/**
 * 1. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */
  box-sizing: border-box; }

html,
body {
  height: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/**
 * Prevents modern browsers from displaying 'audio' without controls.
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  height: 0;
  display: none; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

[hidden],
template {
  display: none; }

a {
  text-decoration: none;
  background-color: transparent;
  /**
   * Remove the outline on focused links when they are also active or hovered
   * in all browsers.
   */ }
  a:hover, a:active {
    outline-width: 0; }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
strong,
b {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
strong,
b {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  color: #000;
  background-color: #ff0; }

ol,
ul {
  padding: 0; }

ol,
ul,
li {
  list-style: none; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title],
acronym[title] {
  text-decoration: underline;
  /* 1 */
  text-decoration: underline dotted;
  /* 1 */
  border-bottom: none;
  /* 2 */ }

code,
pre,
kbd,
samp {
  font-family: monospace, monospace; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto; }

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

input,
textarea,
select,
optgroup,
button {
  color: inherit;
  font: inherit;
  font-size: 100%;
  margin: 0;
  display: inline-block;
  outline: 0; }

input,
select,
button {
  vertical-align: middle; }

input,
textarea,
select {
  -webkit-appearance: none; }

input,
button {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */ }
  input::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  input:-moz-focusring,
  button:-moz-focusring {
    outline: 1px dotted ButtonText; }
  input[disabled],
  button[disabled] {
    cursor: default; }

input {
  line-height: normal; }
  input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box; }
    input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
      -webkit-appearance: none; }
  input[type="checkbox"], input[type="radio"] {
    padding: 0; }

button {
  border: 0;
  overflow: visible; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

/**
 * 1. Remove default vertical scrollbar in Internet Explorer.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  resize: vertical; }

legend {
  padding: 0;
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td {
  padding: 0; }

.is-hidden {
  display: none; }

/*
::-moz-selection {
	text-shadow: none;
	background-color: $cyan;
}

::selection {
	text-shadow: none;
	background-color: $cyan;
}
*/
@font-face {
  font-family: "DIN Next";
  src: url("../fonts/din_next_ultralight.woff2") format("woff2");
  font-weight: 200; }
@font-face {
  font-family: "DIN Next";
  src: url("../fonts/din_next_light.woff2") format("woff2");
  font-weight: 300; }
@font-face {
  font-family: "DIN Next";
  src: url("../fonts/din_next_medium.woff2") format("woff2");
  font-weight: 600; }
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/source_sans_pro_light.woff2") format("woff2");
  font-weight: 300; }
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/source_sans_pro_regular.woff2") format("woff2");
  font-weight: 400; }
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/source_sans_pro_bold.woff2") format("woff2");
  font-weight: 700; }
html {
  font-size: 16px; }

body {
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.45; }

p, .p {
  margin-bottom: 1.3em; }
  p.details, .p.details {
    font-size: 0.707em; }

blockquote, .blockquote {
  font-size: 1.414em;
  text-align: center;
  margin: 1.999em 0;
  padding: 0 1.999em; }
  blockquote::before, .blockquote::before {
    content: '"'; }
  blockquote::after, .blockquote::after {
    content: '"'; }
  blockquote.blockquote-left, .blockquote.blockquote-left {
    text-align: left;
    border-left: 2px solid; }
  blockquote.blockquote-right, .blockquote.blockquote-right {
    text-align: right;
    border-right: 2px solid; }

.smaller {
  font-size: 0.707em; }

.larger {
  font-size: 1.414em; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 1.414em 0 0.5em;
  font-weight: 300;
  line-height: 1.2;
  font-family: "DIN Next", sans-serif; }
  h1.alt, .alt h1, h2.alt, .alt h2, h3.alt, .alt h3, h4.alt, .alt h4, h5.alt, .alt h5, h6.alt, .alt h6, .h1.alt, .alt .h1, .h2.alt, .alt .h2, .h3.alt, .alt .h3, .h4.alt, .alt .h4, .h5.alt, .alt .h5, .h6.alt, .alt .h6 {
    font-weight: 600;
    letter-spacing: 0.055em;
    text-transform: uppercase; }
  h1.app, .app h1, h2.app, .app h2, h3.app, .app h3, h4.app, .app h4, h5.app, .app h5, h6.app, .app h6, .h1.app, .app .h1, .h2.app, .app .h2, .h3.app, .app .h3, .h4.app, .app .h4, .h5.app, .app .h5, .h6.app, .app .h6 {
    font-family: "Source Sans Pro", sans-serif; }

h1, .h1 {
  margin-top: 0;
  font-size: 3.998em; }
  h1.app, .app h1, .h1.app, .app .h1 {
    font-family: "DIN Next", sans-serif;
    font-size: 1.999em; }

h2, .h2 {
  font-size: 2.827em; }
  h2.app, .app h2, .h2.app, .app .h2 {
    font-weight: 400;
    font-size: 1.414em; }

h3, .h3 {
  font-size: 1.999em; }
  h3.app, .app h3, .h3.app, .app .h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 1em; }

h4, .h4 {
  font-size: 1.414em; }

h5, h6, .h5, .h6 {
  font-size: 1em;
  font-weight: 600; }

.label, h4.app, .app h4, h5.app, .app h5, h6.app, .app h6, .h4.app, .app .h4, .h5.app, .app .h5, .h6.app, .app .h6, button, .button, .tabs > a, .menu > a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 0.707em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0.707em 0; }
  .label.larger, h4.larger.app, .app h4.larger, h5.larger.app, .app h5.larger, h6.larger.app, .app h6.larger, .larger.h4.app, .app .larger.h4, .larger.h5.app, .app .larger.h5, .larger.h6.app, .app .larger.h6, button.larger, .larger.button, .tabs > a.larger, .menu > a.larger {
    font-size: 0.85em; }

button, .button {
  padding-right: 1.999em;
  padding-left: 1.999em;
  border-radius: 2em;
  box-shadow: 0px 0px 0px 0px transparent;
  transition: 0.5s ease box-shadow;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.15); }
  button.larger, .button.larger {
    font-size: 0.85em; }
  button > *, .button > * {
    z-index: 1; }
  button::before, .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease background-color;
    background-color: rgba(255, 255, 255, 0);
    z-index: 0; }
  button:hover, .button:hover {
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.25); }
    button:hover::before, .button:hover::before {
      background-color: rgba(255, 255, 255, 0.15); }
    button:hover.alt, .button:hover.alt {
      box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.25); }
  button:active, .button:active {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
    button:active::before, .button:active::before {
      background-color: rgba(0, 0, 0, 0.05); }
    button:active.alt, .button:active.alt {
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
  button.alt, .button.alt {
    border: none;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25); }

.tabs, .menu {
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  height: auto; }
  .tabs > a, .menu > a {
    padding: 1.414em 1.999em;
    display: inline-block;
    position: relative;
    margin-bottom: -2px;
    transition: 0.5s ease background-color, 0.25s ease border-color;
    border-bottom: 2px solid rgba(255, 255, 255, 0); }
    .tabs > a:hover, .menu > a:hover {
      background-color: rgba(255, 255, 255, 0.15);
      border-bottom: 2px solid rgba(0, 0, 0, 0.15); }
    .tabs > a.selected, .menu > a.selected {
      border-bottom: 2px solid black; }
  .tabs.larger, .larger.menu {
    font-size: 1em; }
    .tabs.larger > a, .larger.menu > a {
      font-size: 0.85em;
      margin-bottom: -1px; }

.menu {
  text-align: left; }
  .menu > a {
    display: block;
    border-top: 2px solid rgba(0, 0, 0, 0.15); }
    .menu > a:hover {
      border-color: rgba(0, 0, 0, 0.15); }
    .menu > a.selected {
      border-color: rgba(0, 0, 0, 0.15);
      background-color: rgba(0, 0, 0, 0.05); }

.bg-light-one {
  background-color: #FFFFFF; }

.bg-light-two {
  background-color: #F8F8F8; }

.bg-medium-one {
  background-color: #8C939B; }

.bg-medium-two {
  background-color: #676B71; }

.bg-dark-one {
  background-color: #383B3F; }

.bg-dark-two {
  background-color: #292B2D; }

.bg-dark-three {
  background-color: #000000; }

.bg-aqua {
  background-color: #00c0d8; }

.bg-mint {
  background-color: #2fe79f; }

.bg-salmon {
  background-color: #F95A45; }

.bg-sunrise {
  background-color: #f7425a; }

.bg-gradient-light {
  background-image: linear-gradient(to bottom, #F8F8F8 0%, #FFFFFF 100%), url(../images/noise.png); }

.bg-gradient-medium {
  background-image: linear-gradient(to bottom, #8C939B 0%, #676B71 100%); }

.bg-gradient-dark {
  background-image: linear-gradient(to bottom, #383B3F 0%, #292B2D 100%); }

.bg-gradient-cool {
  background-image: linear-gradient(to bottom, #00c0d8 0%, #2fe79f 100%); }

.bg-gradient-warm {
  background-image: linear-gradient(to bottom, #F95A45 0%, #f7425a 100%); }
